<html>
    <head>
        <title>Films</title>
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
        <script type="text/javascript" src="/assets/js/init.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <ul class="nav nav-pills">
                    <li><a href="/">Home</a></li>
                    <li><a href="/create">Create</a></li>
                </ul>
            </div>
        </div>
        {{{ content }}}
    </body>
</html>
